.Header {
    align-items: start;
    background-color: #155843;
    margin: 0;
    padding: 0;
    height: 20px;
}

.header-logo {
    padding: 5px;
}

.header-text {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}